a {
    text-decoration: none;
    color: #666;
    padding-top: 20px;
    
}

a:hover {
    color: rgb(93, 0, 255);

}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    padding: 0;
    background: #2E9AFF;
    text-align: center;

}

header {
    background: #333;
    color: white;
    padding: 20px;
    font-size: 24px;
}

img {
    max-width: 300px;
    max-height: 250px;
}

.container {
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.service {
    background: #ddd;
    padding: 15px;
    border-radius: 5px;
    flex: 1 1 200px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
}

.contact {
    margin-top: 20px;
    padding: 20px;
    line-height: 30px;
    background: #eee;
}

.contact p {
    margin: 5px 0;
}

@media (max-width: 600px) {
    header {
        font-size: 20px;
        padding: 15px;
    }

    .container {
        padding: 10px;
    }

    .service {
        flex: 1 1 100%;
    }
}